html, body, div { margin: 0; border: 0 none; padding: 0; }
html, body { height: 100%; min-height: 100%; }
body {
  background-color: #000;
}

.canvas {
  height: 100%;
  width: 100%;
}

.canvas .cursor {
  border-radius: 50%;
  width: 50px;
  height: 50px; 
  background-color: #777;
  position: absolute;
  z-index: 100;
}

.hidden { 
  display: none; 
}

.container {
  clear: both;
}

body {
  position: relative;
}

.halves {
  float: left;
  width: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.halves.first {
  left: 0;
}

.halves.second {
  right: 0;
}

.editor {
  display: block;
  height: 100%;
}

.editor-canvas {

}



#grid iframe {
  border: 1px solid #222;
  position: fixed;
}

.canvas-iframe {
  width: 98%;
  height: 400px;
}

canvas { background-color: #000; overflow: hidden; } 

.CodeMirror,
.CodeMirror-scroll {
  height: 100% !important;
  font-size: 12px;
  line-height: 1.2em;
  font-family: "Andale Mono", "Consolas", "Menlo", "Monaco", monospace;
}

.editor-tools {
  position: absolute;
  bottom: 0;
  right: 0;
}

iframe {
  border: 0;
  border-bottom: 1px solid #222;

.url {
    position: fixed;
    color: white;
    z-index: 200;
    background: black;
    opacity: 0.7;
}
