html, body, div { margin: 0; border: 0 none; padding: 0; }
html, body { height: 100%; min-height: 100%; }
body {
  background-color: #EEE;
}

.canvas {
  height: 100%;
  width: 100%;
}

.canvas .cursor {
  border-radius: 50%;
  width: 50px;
  height: 50px; 
  background-color: #777;
  position: absolute;
  z-index: 9999;
}

.hidden { 
  display: none; 
}

.container {
  clear: both;
}

.halves {
  border: 1px dotted blue;
  float: left;
  width: 48%;
}

.editor, .editor-canvas {

}

#grid iframe {
  border: 1px solid #222;
  position: fixed;
  background-color: black;
}
