html, body, div { margin: 0; border: 0 none; padding: 0; }
html, body { height: 100%; min-height: 100%; }
body {
  background-color: #1A1A1A;
  font-family: sans-serif;
}

.canvas {
  height: 100%;
  width: 100%;
}

.canvas .cursor {
  border-radius: 50%;
  width: 50px;
  height: 50px; 
  background-color: #777;
  position: absolute;
  z-index: 100;
}

.hidden { 
  display: none; 
}

.container {
  clear: both;
}

body {
  position: relative;
}

.halves {
  float: left;
  width: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.halves.first {
  left: 0;
}

.halves.second {
  right: 0;
}

.editor {
  display: block;
  height: 100%;
}

.editor-canvas {

}


#add {
  position: absolute;
  right: 5px;
  bottom:5px;
  overflow: auto;
  background-color: #fff;
  padding: 5px;
  opacity: 0.5;
}

#add a {
  color: #fff;
  text-decoration: none;
  color: black;
}

#grid iframe {
  border: 1px solid #222;
  position: fixed;
}

.canvas-iframe {
  width: 98%;
  height: 400px;
}

canvas { background-color: #000; overflow: hidden; } 

.CodeMirror,
.CodeMirror-scroll {
  height: 100% !important;
  font-size: 14px;
  line-height: 1.2em;
  font-family: "Andale Mono", "Consolas", "Menlo", "Monaco", monospace;
}

.editor-tools {
  position: absolute;
  left: 0;
  right: -100%;
  bottom: 0;
  padding: 5px 5px;
  background: -webkit-linear-gradient(#333, #212121);
  border-bottom: 1px solid #1A1A1A;
  left: 0;
  z-index: 1000;
  text-align: right;
}

.editor-tools button {
  border: 1px solid #1A1A1A;
  background: -webkit-linear-gradient(#333, #212121);
  color: #EFEFEF;
  text-shadow: 0 -1px 0 black;
  font-size: 12px;
  padding: 5px 15px;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05);
  cursor: pointer;
}

iframe {
  border: 0;
  border-bottom: 1px solid #222;
}

.url {
    position: fixed;
    color: white;
    font-size: 10px;
    z-index: 200;
    opacity: 0.5;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;k
}
